


  <%= link_to user, id: dom_id(user), class: 'user-row'  do %>
    <%= render partial: 'shared/avatar', locals: { src: user.avatar, size: 'm', admin: user.admin } %>

    <strong>
      <%= user.name %>
    </strong>

    <strong>
      <%= user.email %>
    </strong>


    <p>
      <strong>Remaining days:</strong>
      <%= user.remaining_days %>
    </p>
  <% end %>
