<% provide :page_title, "Users" %>

<p style="color: green"><%= notice %></p>

<%= render partial: 'shared/list_header',

           locals: { title: "Users",
                     action_name: "New user",
                     action_path: new_user_path,
                     data: { turbo_frame: dom_id(User.new) }
           } %>

<%= turbo_stream_from "users" %>

<%= turbo_frame_tag User.new %>

<%= turbo_frame_tag "users" do %>
  <%= render @users %>
<% end %>

