<% provide :page_title, "User information" %>

<p style="color: green"><%= notice %></p>

<%= render partial: 'shared/inner_page_header', locals: { title: 'User information' } %>

<div>

  <div>
    <%= render partial: 'shared/avatar', locals: { user: @user, size: 'xl' } %>

    <strong>
      <%= @user.name %>
    </strong>

    <strong>
      <%= @user.email %>
    </strong>


    <p>
      <strong>Remaining days:</strong>
      <%= @user.remaining_days %>
    </p>
  </div>

  <%= link_to "Edit", edit_user_path(@user), class: "btn btn--primary" %> |
  <%= button_to "Delete",
                user_path(@user),
                method: :delete,
                form: { data: {
                  turbo_confirm: "Are you sure you are deleting the `#{@user.email}`?",
                  turbo_frame: "_top"
                } },
                class: "btn btn--light" %>
</div>