<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <title><%= full_title(yield(:page_title)) %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="layout-container">
      <%= render 'shared/nav' %>

      <main class="container">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
