<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:page_title)) %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="layout-container">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <%= link_to_unless_current("Dashboard", '/', { action: "index" }) %>
          </li>
          <li class="nav__item <%='nav__item--active' if is_current_nav_link(users_path)  %>">
            <%#= link_to_unless_current("Users", { controller: "users", action: "index" }) %>
            <%= link_to_unless_current("Users", users_path) %>
          </li>
        </ul>
          <div class="nav__item nav__item--logout">
            <%= link_to "Logout", signup_index_path, class: 'nav__item' %>
          </div>
      </nav>

      <main class="container">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
